@model OnSale.Web.Models.CategoryViewModel
@{ ViewData["Title"] = "Editar"; }

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Categoria</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Editar <small> - Categoria</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div class="col-md-8 col-sm-8">
                            <form asp-action="Edit" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"  enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="ImageId" />

                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                        Nombre:<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                        Imagen:<span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input asp-for="ImageFile" type="file" class="form-control" />
                                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <div class="col-md-6 col-sm-6 offset-md-3">
                                        <button class="btn btn-primary" type="submit">Crear <i class="fa fa-save"></i></button>
                                        <a asp-action="Index" class="btn btn-success">Voler atras <i class="fa fa-mail-reply"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <img src="@Model.ImageFullPath" style="width:200px;height:200px;max-width: 100%; height: auto;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="@Model.ImageFullPath" style="width:200px;height:200px;max-width: 100%; height: auto;" />
            </div>
        </div>
    </div>

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
