<!-- footer content -->
<footer>
    <div class="pull-right">
        Ventas Online -  <a href="https://colorlib.com">Ver.0.1</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->