<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Ventas Online</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Bienvenido(a),</span>
                <h2>@User.Identity.Name</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li>
                         <a asp-area="" asp-controller="Products" asp-action="ListProduct"><i class="fa fa-home"></i>Inicio</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Orders" asp-action="MyOrders">
                            <i class="fa fa-list"></i> Mis Ordenes
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Orders" asp-action="ShoppingCart">
                            <i class="fa fa-shopping-cart"></i> Carrito de Compra
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="ChangeUser">
                            <i class="fa fa-user"></i> Perfil
                        </a>
                    </li>
                </ul>
            </div>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
            <div class="menu_section">
                <h3>Admin</h3>
                <ul class="nav side-menu">
                    <li>
                            <a><i class="fa fa-bar-chart-o"></i> Ventas <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a asp-area="" asp-controller="Orders" asp-action="Index">Ordenes</a></li>
                                <li><a asp-area="" asp-controller="Products" asp-action="Index">Productos</a></li>
                                <li><a asp-area="" asp-controller="Categories" asp-action="Index">Categorias</a></li>
                                <li><a asp-area="" asp-controller="Countries" asp-action="Index">Paises</a></li>
                            </ul>
                    </li>
                    <li>
                            <a><i class="fa fa-line-chart"></i>Reporte<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                                <li><a href="index2.html">Dashboard2</a></li>
                            </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-table"></i> Administracion<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-area="" asp-controller="Account" asp-action="Index">Lista de Usuarios</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Create">Agregar Usuario</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-laptop"></i>Sobre el Sotfware<span class="label label-success pull-right">Ver.0.1</span>
                        </a>
                    </li>
                </ul>
            </div>
            }

        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Configuraciones">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Maximizar">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Bloquear">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Salir" asp-area="" asp-controller="Account" asp-action="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <nav class="nav navbar-nav">
            <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                    <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/img.jpg" alt="">@User.Identity.Name
                    </a>
                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                        <a asp-area="" asp-controller="Account" asp-action="ChangeUser" class="dropdown-item" > Perfil</a>
               @*         <a class="dropdown-item" href="javascript:;">
                            <span class="badge bg-red pull-right">50%</span>
                            <span>Configuracion</span>
                        </a>*@
                        <a class="dropdown-item" href="javascript:;">Ayuda</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out pull-right"></i>Salir</a>
                    </div>
                </li>

                <li role="presentation" class="nav-item dropdown open">
                    <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-green">6</span>
                    </a>
                    <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                        <li class="nav-item">
                            <a class="dropdown-item">
                                <span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">
                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item">
                                <span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">
                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item">
                                <span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">
                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item">
                                <span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">
                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="text-center">
                                <a class="dropdown-item">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
