@model OnSale.Web.Models.ProductViewModel
@{ ViewData["Title"] = "Editar"; }

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Producto</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Editar <small> - Producto</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                    <form asp-action="Edit" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-8">
                            <partial name="_Product" />
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="submit">Crear <i class="fa fa-save"></i></button>
                                    <a asp-action="Index" class="btn btn-success">Voler atras <i class="fa fa-mail-reply"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="@Model.ImageFullPath" style="width:200px;height:200px;max-width: 100%; height: auto;" />
                        </div>           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

